* {
    padding: 0;
    margin: 0;
}

:root{
    --greenone: #006A4E;
    --greentwo: #2E856E;
    --txt-bx-color: #dfe0e1;
    --txt-bx2-color: #f6f7f8;
    --white: #ffffff;

    --solway: 'Solway', serif;
    --roboto: 'Roboto', sans-serif;
}

body p{
    font-family: var(--roboto);
}

/* Logo and Navigation Mobile first */

.logo{
    width: 50px;
}


div#nav-section{
    background: var(--greenone);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section h1{
    font-family: var(--solway);
}

nav.navigate{
    display: none;
}

nav.navigate.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60%;
    background: var(--greenone);
    transition: opacity 0.75s, visibility 0.75s, height 0.75s;
}

nav.navigate.active a{
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
    font-family: var(--roboto);
    font-size: 20px;
    
}

.tog-box a img {
    filter: invert(1);
}

img.menu.hide{
    display: none;
}

img.close{
    display: none;
}

img.close.show{
    display: flex;
}

/* head section */

.head-wrapper{
    background: var(--txt-bx-color);
}

.head-inner{
    text-align: center;
}

.head-inner h1, p{
    padding: 10px;
}

.sec3-wrapper{
   
}

.quest-icon{
    width: 100px;
    padding: 10px;
   
}

.sec4-wrapper{
   
}

.cont-icon{
    width: 100px;
    padding: 10px;
}

/* .section-4-div {
    clear: right;
} */

.section-4-div img{
    float: right;
}

footer{
    background: var(--greentwo);
}

footer ul{
    text-align: center;
}

footer li{
    display: inline;
}

footer i{
    font-size: 30px;
    color: var(--white);
    margin-right: 10px;
    padding: 10px 0 10px;
}


@media only screen and (min-width: 768px) {

    .logo{
        width: 100px;
    }

    nav.navigate{
        display: flex;
    }

    nav.navigate a{
        font-size: 16px;
        padding: 10px;
        color: var(--white);
        text-decoration: none;
        font-family: var(--roboto);
        font-weight: bold;
    }

    div.tog-box{
        display: none;
    }
}