* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --greenone: #006A4E;
    --greentwo: #2E856E;
    --txt-bx-color: #dfe0e1;
    --txt-bx2-color: #f6f7f8;
    --white: #ffffff;

    --solway: 'Solway', serif;
    --roboto: 'Roboto', sans-serif;
}

body h1, h2, h3{
    font-family: var(--solway);
}

body p{
    font-family: var(--roboto);
}

/* Logo and Navigation Mobile first */

.logo{
    width: 35px;
    height: 35px;
}


div#nav-section{
    background: var(--greenone);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section h1{
    font-family: var(--solway);
}

nav.navigate{
    display: none;
}

nav.navigate.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60%;
    background: var(--greenone);
}

nav.navigate a.selected{
    border-bottom: 1px solid var(--white);
}


nav.navigate.active a{
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
    font-family: var(--roboto);
    font-size: 20px;
}


.tog-box a img {
    filter: invert(1);
}

img.menu.hide{
    display: none;
}

img.close{
    display: none;
}

img.close.show{
    display: flex;
}

/* head section */

.head-wrapper{
    background: var(--txt-bx-color);
}

.head-inner{
    text-align: center;
}

.head-inner h1, p{
    padding: 10px;
}

/* body section */

.wrapper1{
    background-image: url('../images/background.png');
    object-fit: cover;
    height: 91vh;
    width: 100%;
}

.icons_text{
    text-align: center;
    padding-top: 20px;
}

.icons_text p {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 16px;
}

.icons_text img{
    width: 150px;
    padding: 10px;
}


footer{
    background: var(--greentwo);
}

footer ul{
    text-align: center;
}

footer li{
    display: inline;
}

footer i{
    font-size: 30px;
    color: var(--white);
    margin-right: 10px;
    padding: 10px 0 10px;
}

/* game area styling */

.game-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 800px;
    max-width: 80%;
    background: var(--txt-bx-color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px 2px;
}

.score-sec p{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    display: flex;
}
/* button styles */

.btn-style{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

#question{
    font-family: var(--solway);
    text-align: center;
}

.btn{
    font-family: var(--roboto);
    border: 1px solid var(--greentwo);
    color: var(--white);
    background: var(--greenone);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn.correct{
    background: #77dd77;
    color: black;
}

.btn.wrong{
    background: red;
}

.start-btn, .next-btn{
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

/* feedback form styling */
.form-area{
   display: flex;
   align-items: center;
   justify-content: center; 
}

form{
    background: var(--txt-bx-color);
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 90%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px;
    font-family: var(--roboto);
}


form h3{
    margin-bottom: 20px;
    text-align: center;
}

.form-inputs span{
    font-size: 9px;
    /* position: absolute; */
    /* right: 62px; */
    color: red;
    margin-left: 10px;
}

.form-inputs span i{
    color: green;
}

form  input, form textarea{
    border: 0;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: var(--white);
    font-family: var(--roboto);
}

form button{
    padding: 10px;
    border-radius: 5px;
    background: var(--greentwo);
    color: var(--white);
    border: 0;
    outline: none;
}


@media only screen and (min-width: 768px) {

    .logo{
        width: 60px;
        height: 60px;
    }

    nav.navigate{
        display: flex;
    }

    nav.navigate a{
        font-size: 16px;
        padding: 10px;
        color: var(--white);
        text-decoration: none;
        font-family: var(--roboto);
        font-weight: bold;
    }

    div.tog-box{
        display: none;
    }
    
    /* Quiz section */
    .score-sec p{
        display: inline-block;
    }
}

/* Laptop to desktop styling */
@media only screen and (min-width: 800px){

    .logo:hover {
        animation-name: logo-zoom;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
    }

    @keyframes logo-zoom {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
    }

    nav.navigate a:hover{
        border-bottom: 1px orange solid;
        color: orange;
        cursor: pointer;
    }
}